<h3>Nouvelle demande de réservation </h3>

<p> Bonjour, une nouvelle demande de réservation vient d'être effectuée sur l'agenda </p>
<p> En voici les détails :  </p>

<p> Salle : {{booking.room.name}} </p>
<p> Demandeur : {{booking.user.firstName}} {{booking.user.lastName}} </p>
<p> Date de début : {{booking.startAt | date("d/m/Y H:i", "Europe/Paris")}} </p>
<p> Date de fin : {{booking.endAt | date("d/m/Y H:i", "Europe/Paris")}} </p>
{% if booking.comment %}
<p> Commentaire : {{booking.endAt}} </p>
{%endif%}


<p> Vous pouvez la confirmer ou l'annuler directement depuis votre espace </p>
<p> A bientôt ! </p>